<!DOCTYPE html>
<html>
    <head>
        <title>Chat - {{ room_name }}</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <h1>Room: {{ room_name }}, User: {{ user.username }}</h1>
            <div id="chat-messages"></div>
            <input type="text" id="chat-message-input">
            <button onclick="sendMessage()">Send</button>
        {% else %}
            <p>Please <a href="{% url 'register' %}">create an account</a></p>
        {% endif %}
        <script>
            const roomName = "{{ room_name }}"
            const chatSocket = new WebSocket(
                (window.location.protocol === 'https:' ? 'wss://': 'ws://') + 
                window.location.host + '/ws/chat/' + roomName + '/'
            )
            chatSocket.onopen = () => console.log('Connected to WebSocket');
            chatSocket.onclose = (e) => console.log('Closed with: ', e);
            chatSocket.onmessage = (event) => {
                const data = JSON.parse(event.data);
                const messageElement = document.createElement('div')
                if (data.error) {
                    messageElement.innerHTML = `<strong>${data.error}</strong>`;
                } else {
                    messageElement.innerHTML = `<strong>${data.username}:</strong> ${data.message}`;
                }
                document.getElementById('chat-messages').appendChild(messageElement);
            }
            sendMessage = () => {
                const messageInput = document.getElementById('chat-message-input');
                const message = messageInput.value;
                chatSocket.send(JSON.stringify({
                    'message': message
                }))
                messageInput.value = '';
            }
        </script>
    </body>
</html>