{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout</title>
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <div>
            <h1>{% translate "Оплата замовлення #{{ order.id }}" %}</h1>
            <div>
                <label for="amount">Сума</label>
                <input type="number" id="amount" value="{{ order.total_price }}" min="0.50" step="0.01">
            </div>
            <div>
                <label for="currency">Валюта</label>
                <select id="currency">
                    <option value="usd" selected>USD</option>
                    <option value="eur">EUR</option>
                    <option value="uah">UAH</option>
                </select>
            </div>
            <div>
                <label for="description">Опис платежу</label>
                <input id="description" type="text" placeholder="Опис платежу(опційно)">
            </div>
            <div>
                <label>Дані картки</label>
                <div id="payment-element"></div>
            </div>
            <button id="submit-btn" disabled>Оплатити</button>
            <div id="message"></div>
        </div>
        <script>
            const STRIPE_PUBLIC_KEY = '{{ stripe_public_key }}';
            const API_URL = '/payments/payments';
            const orderId = '{{ order.id }}'

            const stripe = Stripe(STRIPE_PUBLIC_KEY);
            let elements, paymenElement, clientSecret, paymentId;

            const submitBtn = document.getElementById('submit-btn')
            const messageDiv = document.getElementById('message');

            async function createPaymentIntent() {
                const csrfToken = getCookie('csrftoken');
                const response = await fetch(`${API_URL}/create_payment_intent/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({
                        amount: document.getElementById('amount').value,
                        currency: document.getElementById('currency').value,
                        description: document.getElementById('description').value
                    }),
                });
                if ( !response.ok ) {
                    const err = await response.json();
                    throw new Error(err.error || `HTTP ${response.status}`);
                }
                const data =  await response.json();
                if (!data.client_secret) {
                    throw new Error(
                        'Client secret is required!'
                    )
                }
                clientSecret = data.client_secret;
                paymentId = data.payment_id;
                return data;
            }

            async function mountPaymentElement() {
                await createPaymentIntent();

                elements = stripe.elements({
                    clientSecret:clientSecret,
                    appearence: {theme: 'stripe'}
                });

                paymenElement = elements.create('payment', {layout: 'tabs'});
                paymenElement.mount('#payment-element');
                submitBtn.disabled = false;
            }

            async function handlePayment() {
                submitBtn.disabled = true;

                try {
                    const { error, paymentIntent } = await stripe.confirmPayment({
                        elements,
                        confirmParams: {
                            return_url: window.location.origin + '/checkout/?success=true'
                        },
                        redirect: 'if_required',
                    })

                    if ( error ) {
                        messageDiv.textContent = error.message;
                    } else if ( paymentIntent && paymentIntent.status === 'succeeded' ) {
                        messageDiv.textContent = 'Платіж успішно проведено, ID платежу: ' + paymentId;
                        confirmOnBackend(paymentId);
                    } else if ( paymentIntent ) {
                        messageDiv.textContent = `Статус: ${paymentIntent.status}`;
                    }
                } catch ( err ) {
                    messageDiv.textContent = err.message;
                } finally {
                    submitBtn.disabled = false;
                }
            }

            async function confirmOnBackend(paymentId) {
                try {
                    await fetch (`${API_URL}/${paymentId}/confirm/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                    });
                } catch ( err ) {
                    console.warn('Confirmation failed with: ', err)
                }
            }

            getCookie = (name) => {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if ( parts.length === 2) return parts.pop().split(';').shift();
                return '';
            }

            document.addEventListener('DOMContentLoaded', () => {
                submitBtn.addEventListener('click', handlePayment);
                mountPaymentElement().catch(err => {
                    messageDiv.textContent = `Помилка ініціалізації: ${err.message}`
                })
            })

            if ( new URLSearchParams(window.location.search).get('success') === 'true' ) {
                document.addEventListener('DOMContentLoaded', () => {
                    messageDiv.textContent = 'Платіж оброблено успішно'
                })
            }
        </script>
    </body>
</html>